<div>
  <div class="header">The Lorem Ipsum</div>
</div>
<div>
  <div class="left-side"></div>
  <div class="blog-side">
    <div class="posts">
      <ul class="post-wrapper">
        <li *ngFor="let post of posts | async">
          <span class="post-title">{{post.title}}</span> <br>
          <span class="post">{{post.post}}</span> <br>
          <span class="post-author">Author: {{post.author}}</span> <br>
          <ul class="comment-wrapper">
            <li *ngFor="let comment of comments | async">
              <span class="comment-body">{{comment.body}}</span> <br>
              <span class="comment-author"> {{comment.author}} </span> <br>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button mat-mini-fab color="accent">
      <mat-icon class="add-icon">add</mat-icon>
      <mat-icon class="close-icon">close</mat-icon>
    </button>
    <div class="new-post">
      <input type="text" class="input">
      <button>Post</button>
    </div>
  </div>
  <div class="right-side"></div>
</div>
