<div>
  <div class="header">The Lorem Ipsum</div>
</div>
<div class="body">
  <div class="left-side"></div>
  <div class="blog-side">
    <div class="div-posts">
      <ul class="post-wrapper">
        <li *ngFor="let post of posts | async" class="posts" >
          <span class="post-title">{{post.title}}</span>
          <span class="post">{{post.post}}</span>
          <span class="post-author">Author: {{post.author}}</span>
          <span class="delete-post" (click)="deletePost(post.id)">Delete Post</span>
          <ul class="comment-wrapper">
            <li *ngFor="let comment of comments | async">
              <span *ngIf="comment.postId === post.id">
                <span class="comment-body">{{comment.body}}</span> <br>
                <span class="comment-author"> {{comment.author}} </span>
                <span class="delete-comment" (click)="deleteComment(comment.id)">Delete Comment</span>
              </span>
            </li>
          </ul>
          <span (click)="toggleFocus(post.id)"> Add New Comment</span><br>
          <form class="newCommentInput" *ngIf="post.id === this.focusid && focus">
            <input matInput #commentAuthor class="commentAuthor" placeholder="Author Name"><br>
            <textarea matInput #commentInput class="commentInput" placeholder="Comment"></textarea><br>
            <button mat-button class="postComment" (click)="postComment(commentInput.value, commentAuthor.value, post.id)">Post</button>
          </form>
        </li>
      </ul>
    </div>
    <button #addButton (click)="toggle()" color="white" mat-mini-fab value='add'>
      <ng-container *ngIf="!add">
        <mat-icon class="add-icon">add</mat-icon>
      </ng-container>
      <ng-container *ngIf="add">
        <mat-icon class="close-icon">close</mat-icon>
      </ng-container>
    </button>
    <div *ngIf="add" class="new-post">
      <textarea matInput #postTitle placeholder="Title"></textarea><br>
      <textarea matInput #postAuthor placeholder="Author"></textarea><br>
      <textarea matInput #post placeholder="Post"></textarea><br>
      <button mat-button (click)="postPost(postTitle.value, post.value, postAuthor.value)">Post</button>
    </div>
  </div>
  <div class="right-side"></div>
</div>
